@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
@import url(./partials/variables.css);
@import url(./partials/reset.css);
@import url(./partials/navbar.css);

body {
    background-color: hsl(var(--clr-dark));
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    min-height: min(100vh, 900px);
    width: min(100%, 1440px);
    margin: 0 auto;
    color: hsl(var(--clr-light));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
    margin-left: 10rem;
}

.content {
    flex: 11;
    margin-top: 74px;
}

.h5 {
    font-family: var(--ff-condensed);
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: max(76px, 26%);
}

.page-number {
    font-weight: 700;
    color: hsla(var(--clr-light), .25);
    margin-right: 24px;
}

.member-role {
    font-family: var(--ff-bellefair);
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: hsla(var(--clr-light), .5);
    margin-bottom: 15px;
}

.member-name {
    font-family: var(--ff-bellefair);
    font-size: 54px;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.member-info {
    font-family: var(--ff-barlow);
    font-size: 18px;
    line-height: 32px;
    color: hsl(var(--clr-accent));
    max-width: 45ch;
    margin-bottom: max(60px, 16%);
}

.tab-btn-container {
    margin-bottom: max(46px, 12%);
}

.tab-btn-container>:not(:last-child) {
    margin-right: 24px;
}

.tab-btn {
    height: 15px;
    width: 15px;
    background: hsla(var(--clr-light), .17);
    border-radius: 50%;
    cursor: pointer;
}

.tab-btn:hover {
    background: hsla(var(--clr-light), .5);
}

.tab-btn-active,
.tab-btn-active:hover {
    background: hsla(var(--clr-light), 1);
}

.member-img {
    flex: 9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1.5rem;
    border-bottom: 1px solid hsl(231, 15%, 26%);
}