@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
@import url(./partials/variables.css);
@import url(./partials/reset.css);
@import url(./partials/navbar.css);

body {
    background-color: hsl(var(--clr-dark));
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    min-height: 100vh;
    width: min(100%, 1440px);
    margin: 0 auto;
    color: hsl(var(--clr-light));
    position: relative;
    overflow-x: hidden;
}

.main {
    padding: 0 24px 24px;
    text-align: center;
}

.h5 {
    font-family: var(--ff-condensed);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.page-number {
    font-weight: 700;
    color: hsla(var(--clr-light), .25);
    margin-right: 16px;
}

.member-img {
    height: 224px;
    border-bottom: 1px solid hsl(231, 15%, 26%);
}

.member-img img {
    height: 100%;
    margin: 0 auto;
}

.tab-btn-container {
    margin-block: 30px;
}

.tab-btn-container>:not(:last-child) {
    margin-right: 16px;
}

.tab-btn {
    height: 10px;
    width: 10px;
    background: hsla(var(--clr-light), .17);
    border-radius: 50%;
    cursor: pointer;
}

.tab-btn:hover {
    background: hsla(var(--clr-light), .5);
}

.tab-btn-active,
.tab-btn-active:hover {
    background: hsla(var(--clr-light), 1);
}

.member-role {
    font-family: var(--ff-bellefair);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: hsla(var(--clr-light), .5);
    margin-bottom: 8px;
}

.member-name {
    font-family: var(--ff-bellefair);
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.member-info {
    font-family: var(--ff-barlow);
    font-size: 15px;
    line-height: 25px;
    color: hsl(var(--clr-accent));
    margin-bottom: 104px;
}

@media (min-width: 610px) {
    body {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }

    .main {
        padding: 40px;
        /* display: flex; */
        /* flex-direction: column-reverse; */
    }

    .h5 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        margin-bottom: 60px;
        text-align: left;
    }
}