@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
@import url(./partials/variables.css);
@import url(./partials/reset.css);
@import url(./partials/navbar.css);

body {
    background-color: hsl(var(--clr-dark));
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    min-height: 100vh;
    width: min(100%, 1440px);
    margin: 0 auto;
    color: hsl(var(--clr-light));
    display: flex;
    flex-direction: column;
    gap: 250px;
    position: relative;
    overflow-x: hidden;
}