@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
@import url(./partials/variables.css);
@import url(./partials/reset.css);
@import url(./partials/navbar.css);

body {
  background-color: hsl(var(--clr-dark));
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  min-height: 100vh;
  width: min(100%, 1440px);
  margin: 0 auto;
  color: hsl(var(--clr-light));
  position: relative;
  overflow-x: hidden;
}

.main {
  text-align: center;
}

.h5 {
  font-family: var(--ff-condensed);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.page-number {
  font-weight: 700;
  color: hsla(var(--clr-light), 0.25);
  margin-right: 16px;
}

.tech-img {
  width: 100%;
  aspect-ratio: 2.477;
  background-image: var(--url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 34px;
}

.img-lv {
  --url: url(../assets/technology/image-launch-vehicle-landscape.jpg);
}

.img-sc {
  --url: url(../assets/technology/image-space-capsule-landscape.jpg);
}

.img-sp {
  --url: url(../assets/technology/image-spaceport-landscape.jpg);
}

.tab-btn-container {
  margin-bottom: 26px;
}

.tab-btn-container > :not(:last-child) {
  margin-right: 16px;
}

.tab-btn {
  height: 40px;
  width: 40px;
  border: 1px solid hsla(var(--clr-light), 0.25);
  border-radius: 50%;
  font-family: var(--ff-bellefair);
  line-height: 18px;
  cursor: pointer;
}

.tab-btn:hover {
  border-color: hsl(var(--clr-light));
}

.tab-btn-active,
.tab-btn-active:hover {
  background-color: hsl(var(--clr-light));
  border-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
}

.terminology {
  font-family: var(--ff-condensed);
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: hsla(var(--clr-accent), 0.5);
  letter-spacing: 2.36px;
  margin-bottom: 9px;
}

.tech-name {
  font-family: var(--ff-bellefair);
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.tech-info {
  font-family: var(--ff-barlow);
  font-size: 15px;
  line-height: 25px;
  color: hsl(var(--clr-accent));
  max-width: 40ch;
  margin-inline: auto;
  margin-bottom: 80px;
}

@media (min-width: 611px) {
  body {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  .h5 {
    margin: 40px;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .tech-img {
    height: 310px;
    margin-bottom: 56px;
  }

  .tab-btn-container {
    margin-bottom: 44px;
  }

  .tab-btn {
    height: 60px;
    width: 60px;
    font-size: 24px;
  }

  .terminology {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-bottom: 16px;
  }

  .tech-name {
    font-size: 40px;
    line-height: 46px;
  }

  .tech-info {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 100px;
    max-width: 50ch;
  }
}
@media (min-width: 1001px) {
  body {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }

  .main {
    max-width: 1330px;
    margin-left: auto;
    padding-left: 55px;
    margin-bottom: 100px;
  }

  .h5 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    margin: 76px auto 26px auto;
  }

  .main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .tech-img {
    flex: 2;
    aspect-ratio: 0.977;
    margin-bottom: 0;
    height: 100%;
  }

  .img-lv {
    --url: url(../assets/technology/image-launch-vehicle-portrait.jpg);
  }

  .img-sc {
    --url: url(../assets/technology/image-space-capsule-portrait.jpg);
  }

  .img-sp {
    --url: url(../assets/technology/image-spaceport-portrait.jpg);
  }

  .content {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 12%;
    flex: 3;
  }

  .tab-btn-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 0;
  }

  .tab-btn-container > :not(:last-child) {
    margin-right: 0;
  }

  .tab-btn {
    height: 80px;
    width: 80px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }

  .terminology {
    margin-bottom: 12px;
  }

  .tech-name {
    font-size: 56px;
    line-height: 64px;
  }

  .tech-info {
    font-size: 18px;
    line-height: 32px;
    max-width: 43.75ch;
    margin-inline: 0;
    margin-bottom: 0;
  }
}
