body {
  background-color: hsl(var(--clr-dark));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  height: min(100vh, 900px);
  width: min(100vw, 1440px);
  margin: 0 auto;
  color: hsl(var(--clr-light));
  overflow-x: hidden;
  position: relative;
}